<!DOCTYPE html>
<html>
	<head>
		<title>Agent Dash</title>
		<!-- Latest compiled and minified CSS for Bootstrap-->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

		<!-- Optional theme for Bootstrap-->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

		<!-- Custom styles-->
		<link rel="stylesheet" href="styles/custom.css">

		<!-- Latest compiled and minified JavaScript for Bootstrap-->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script

		<!-- AngularJS -->
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.4/angular.min.js"></script>

		<script src="scripts/app.js"></script>
	</head>
	<body ng-app="agentDashApp">
		<nav class="navbar navbar-default navbar-inverse navbar-static-top" role="navigation">
  			<div class="container-fluid">
    			<!-- Brand and toggle get grouped for better mobile display -->
    			<div class="navbar-header">
      				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        				<span class="sr-only">Toggle navigation</span>
        				<span class="icon-bar"></span>
        				<span class="icon-bar"></span>
        				<span class="icon-bar"></span>
      				</button>
      				<a class="navbar-brand" href="#">Agent Dash</a>
    			</div>
			    <!-- Collect the nav links, forms, and other content for toggling -->
    			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      				<ul class="nav navbar-nav">
        				<li class="active"><a href="#">Home <span class="sr-only">(current)</span></a></li>
        				<li><a href="#">Knowledge</a></li>
      				</ul>
    			</div><!-- /.navbar-collapse -->
  			</div><!-- /.container-fluid -->
		</nav>
		<div class="container-fluid">
		<div class="row header-spacer"></div>
		<div class="row main-view">
			<div class="col-md-8"><!-- Left hand container -->
				<div class="row">
					<div class="col-md-6 tile"><!-- Top left cell -->
						<div class="tile-inner">
							<div class="row">
								<div class="col-md-4">
									<img src="http://placehold.it/175x175" align="left" class="circular agent-image">
								</div>
								<div ng-controller="CurrentTickets" class="col-md-8">
									<h1>Hi, {{agent.name}}</h1>
									<span class="glyphicon glyphicon-road"></span> <strong>{{tickets.wip}}</strong> Work In Progress<br>
									<span class="glyphicon glyphicon-hand-right"></span> <strong>{{tickets.assigned}}</strong> Assigned<br>
									<span class="glyphicon glyphicon-eye-open"></span> <strong>{{tickets.pending}}</strong> Pending<br>
								</div>
							</div>
							<div class="row" align="center" ng-controller="TicketStats">
								<div class="col-md-4"><h1>5</h1>tickets resolved this hour</div>
								<div class="col-md-4"><h1>25</h1>tickets resolved today</div>
								<div class="col-md-4"><h1>100</h1>tickets resolved this week</div>
							</div>
						</div>
					</div>
					<div class="col-md-6 tile"><!-- Centre top cell -->
						<div class="tile-inner">
							<h2>Alerts</h2>
							<div class="ticker" ng-controller="AlertTicker">
                  				<div class="alert" ng-repeat="alert in alerts" ng-class="{critical: alert.type=='critical'}">
                    				<span ng-show="alert.inc">{{alert.inc}} - </span>{{alert.text}}<span ng-show="alert.location"> - {{alert.location}}</span><span ng-show="alert.raisedBy"> - {{alert.raisedBy}}</span>
                  				</div>
                			</div>
						</div>
					</div>
				</div>
				<div class="row"><!-- Updates -->
					<div class="col-md-12 tile"><!-- Updates -->
						<div class="tile-inner">
							<h2>Updates</h2>
                			<div class="ticker short-ticker" ng-controller="UpdateTicker">
                  				<div class="update" ng-repeat="update in updates">
                    				<div class="media">
                      					<a class="media-left media-middle" href="#">
                        					<img src="{{update.image}}" alt="...">
                      					</a>
                      					<div class="media-body">
                 							{{update.text}}<br /><span class="muted">{{update.author}}</span>
                      					</div>
                    				</div>
                    			<br />
                  			</div>
              			</div>
              			<div class="input-group">
        			       	<input type="text" class="form-control" maxlength="200">
                  			<span class="input-group-btn">
                    			<button class="btn btn-default" type="button">Say!</button>
                  			</span>
                		</div>
              		</div>
              	</div>
            </div>
        </div>
		<div class="col-md-4 tile-tall"><!-- Right hand cell -->
			<div class="tile-inner" ng-controller="ToDo">
				<h2>To Do</h2>
            	<div class="input-group">
              		<input type="text" class="form-control" maxlength="200">
              		<span class="input-group-btn">
                		<button class="btn btn-default" type="button">Add</button>
              		</span>
            	</div>
            	<div class="ticker tall-ticker">
              		<div class="todo" ng-repeat="item in todos">
                		<input type="checkbox" ng-model="item.done"/> <span ng-class="{strike: item.done}">{{item.task}}</span>
              		</div>
            	</div>
			</div>
		</div>
	</div><!--/main-view-->
	</div><!--/container-->
	</body>
</html>