body {
    height: 100vh;
    background: url('../images/bg.png');
}

.header-spacer {
    height: 5vh;
}

.tile {
    height: 43vh;
    padding: 5px;
}

.tile-tall {
    height: 86vh;
    padding: 5px;
}

.tile-inner {
    background-color: #FFF2C7;
    height: 100%;
    border-radius: 15px;
    padding: 5px;
}

.critical {
    background-color: #8E2800;
    color: #FFF2C7;
}

h2 {
    padding: 0px;
}

.ticker {
    height: 80%;
    overflow-y: auto;
    padding: 5px;
}

.short-ticker {
    height: 70%;
}

.alert {
    padding: 5px;
    margin: 0px;
}

.circular {
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
}

.strike {
    text-decoration: line-through;
}

.todo {
    padding: 5px;
    border-bottom: solid thin #468966;
}

.tall-ticker {
    height: 85%;
}